<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>

	<session-factory>

		<!-- Database connection settings -->
		<property name="connection.driver_class">com.mysql.jdbc.Driver</property>
		<property name="connection.url">jdbc:mysql://demo-mysql:3306/augusta</property>
		<property name="connection.username">root</property>
		<property name="connection.password">root12345</property>

		<!-- JDBC connection pool (use the built-in) -->
		<property name="connection.pool_size">100</property>

		<!-- SQL dialect -->
		<property name="dialect">org.hibernate.dialect.MySQLDialect</property>

		<!-- Enable Hibernate's automatic session context management -->
		<property name="current_session_context_class">thread</property>

		<!-- Disable the second-level cache  -->
		<property name="cache.provider_class">org.hibernate.cache.NoCacheProvider</property>

		<!-- Echo all executed SQL to stdout -->
		<property name="show_sql">true</property>
        <!-- <property name="hibernate.current_session_context_class">thread</property> -->
		<!-- Drop and re-create the database schema on startup -->
		<property name="hbm2ddl.auto">update</property>
         <mapping class="net.tebs.contact.model.MedicineInfo" />
		 <mapping class="net.tebs.contact.model.Credential" />
		 <mapping class="net.tebs.contact.model.Customer" />
		 <mapping class="net.tebs.contact.model.MedicineDetails" />
		 <mapping class="net.tebs.contact.model.CustomerInfo" />
		 <mapping class="net.tebs.contact.model.StoreDetails" />
		 
		 <mapping class="net.tebs.contact.model.PartyBillList" />
		 <mapping class="net.tebs.contact.model.PartyBillDetails" />
		 <mapping class="net.tebs.contact.model.ScheduleH_One" />
		 <mapping class="net.tebs.contact.model.MedicineRecord" />
		 <mapping class="net.tebs.contact.model.PartyRecord" />
		 <mapping class="net.tebs.contact.model.CurrentMedicineRecord" />

	</session-factory>

</hibernate-configuration>